@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

// Set your brand colors
$dark-orange: #f58a6c; //primary
$light-blue: #89dceb; // light
$light-orange: #e8a87c; // info
$dusky-pink: #c38d9e; // danger
$mint-green: #96d5b2; // success
$darker-green: #387d74; // link
$amber: rgb(250, 196, 102); // warning
$white: white;
$light-beige: rgb(233, 228, 220); //link
// Update Bulma's global variables
$family-sans-serif: 'Mali', cursive;
$primary: $dark-orange;
$link: $light-beige;
$info: $light-orange;
$success: $mint-green;
$warning: $amber;
$danger: $dusky-pink;
$dark: $darker-green;
$light: $light-blue;
$white: $white;

// primary, link, info, success, warning, danger, dark, light, black, white

//black bis, black ter, grey darker, grey light, grey lighter, white ter, white bis

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
