@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

// Set your brand colors
$dark-orange: #E27D60; //primary
$light-blue: #89dceb; // light
$light-orange: #e8a87c; // info
$dusky-pink: #c38d9e; // danger
$mint-green: #6cc493; // success
$darker-green: #41b3a3; // link
$amber: rgb(255, 208, 0); // warning
$white: white;
$light-beige: rgb(233, 228, 220); //success
// Update Bulma's global variables
$family-sans-serif: 'Mali', cursive;
$primary: $dark-orange;
$link: $light-beige;
$success: $darker-green;
$info: $light-orange;
$danger: $dusky-pink;
$warning: $amber;
$white: $white;
$light: $light-blue;

//link, info, success, warning, danger, primary, dark, light, black, white
//black bis, black ter, grey darker, grey light, grey lighter, white ter, white bis

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
