<div class="is-flex is-justify-content-space-between px-5 pb-5 is-size-3">
  
  <a href="/" class="button is-dark">< Back to Games</a><a href="/contact" class="button is-dark">Contact</a>

</div>
<footer id="footer" class="notification py-1 is-size-7 has-background-success">
  copyright 2022 
</footer><script src="app.js"></script>
</body>
</html>