<div class="has-text-left pl-5 is-size-3"><a href="/" class="has-text-danger">< Back to Games</a></div>
<footer id="footer" class="notification py-1 is-size-7 has-background-success">
  copyright 2022 
</footer><script src="app.js"></script>
</body>
</html>