<!-- code for theme selection -->
<div class="is-size-2 has-text-centered has-text-white has-background-white" >


    <div class="py-4 is-size-3 has-background-black has-text-white">
      Welcome to The <%= currentPage %> Game!
      </div> 
    
  <div id="themes">
    <div class="py-0 is-size-3 has-background-white has-text-black py-1">Choose a sticker theme:</div>
    <a href="#colourButtons">
       <div class="has-background-danger py-1" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="animals">animals</div>
      </a>
    <a href="#colourButtons">  
      <div class="has-background-success py-1" id="vehicles" onmouseover="reduceOpacity(this)" onclick="myTheme(), getId(this)" onmouseout="normalOpacity(this)">vehicles</div>
    </a>
    <a href="#colourButtons">
      <div class="has-background-info py-1" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="dinosaurs">dinosaurs</div>
    </a>
    <a href="#colourButtons">
       <div class=" has-background-light py-1" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="enchanted">enchanted</div>
      </a>


    <a href="#colourButtons"> 
      <div class=" has-background-warning py-1" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="underTheSea">under the sea</div>
     </a>
 
    <a href="#colourButtons"> 
     <div class=" has-background-danger py-1" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="monsters">monsters</div>
    </a>

  
  </div>