<!-- code for theme selection -->
<div class="is-size-2 has-text-centered has-text-white has-background-white" >


    <div class="py-4 is-size-3 has-background-dark has-text-white">
      Welcome to The <%= currentPage %> Game!
      </div> 
  
      
      <div id="themes">
    <div class="py-0 is-size-3 has-background-white has-text-black py-1">Choose a sticker theme:</div>



    <div class="is-flex is-size-7 has-text-weight-bold is-flex-wrap-wrap is-justify-content-center">
    <a href="#gamePanel">
       <div class="is-flex has-background-danger is-align-items-center px-1 py-1 has-text-white mx-5 my-3" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="animals"><img class="image is-64x64 mr-1" src=images/animals.png> animals</div>
      </a>
    <a href="#gamePanel">
      <div class="is-flex has-background-success is-align-items-center px-1 py-1 has-text-white mx-5 my-3" id="vehicles" onmouseover="reduceOpacity(this)" onclick="myTheme(), getId(this)" onmouseout="normalOpacity(this)"><img class="image is-64x64 mr-1" src=images/vehicles.png> vehicles</div>
    </a>
    <a href="#gamePanel">
      <div class="is-flex has-background-primary is-align-items-center px-1 py-1 has-text-white mx-5 my-3" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="dinosaurs"><img class="image is-64x64 mr-1" src=images/dinosaurs.png>dinosaurs</div>
    </a>
  
    <a href="#gamePanel">
       <div class="is-flex is-align-items-center has-background-light has-text-white px-1 mx-5 my-3" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="enchanted"><img class="image is-64x64 mr-1" src=images/enchanted.png>enchanted</div>
      </a>
    <a href="#gamePanel">
      <div class=" is-flex has-background-dark is-align-items-center px-1 py-1 has-text-white mx-5 my-3" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="underTheSea"><img class="image is-64x64 mr-1" src=images/underTheSea.png>under the sea</div>
     </a>
    <a href="#gamePanel">
     <div class="is-flex has-background-danger is-align-items-center px-1 py-1 has-text-white mx-5 my-3" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)" onclick = "myTheme(), getId(this)" id="monsters"><img class="image is-64x64 mr-1" src=images/monsters.png>monsters</div>
    </a>
    
      
      </div>
  </div>