
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->

        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="letterButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/a.png" class="image is-64x64 " id="a">
                    <img src="images/b.png" class="image is-64x64  " id="b">
                    <img src="images/c.png" class="image is-64x64   " id="c">
                    <img src="images/d.png" class="image is-64x64   " id="d">
                    <img src="images/e.png" class="image is-64x64   " id="e">
                </div>
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/f.png"class="image is-64x64  "  id="f">
                    <img src="images/g.png" class="image is-64x64 " id="g">
                    <img src="images/h.png" class="image is-64x64 " id="h">
                    <img src="images/i.png" class="image is-64x64 " id="i">
                    <img src="images/j.png" class="image is-64x64 " id="j">
                </div>
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/k.png" class="image is-64x64   " id="k">
                    <img src="images/l.png" class="image is-64x64   " id="l">
                    <img src="images/m.png" class="image is-64x64   " id="m">
                    <img src="images/n.png" class="image is-64x64 " id="n">
                    <img src="images/o.png" class="image is-64x64 " id="o">
                </div>
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/p.png" class="image is-64x64   " id="p">
                    <img src="images/q.png" class="image is-64x64   " id="q">
                    <img src="images/r.png" class="image is-64x64   " id="r">
                    <img src="images/s.png" class="image is-64x64 " id="s">
                    <img src="images/t.png" class="image is-64x64 " id="t">
                </div>
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/u.png" class="image is-64x64   " id="u">
                    <img src="images/v.png" class="image is-64x64   " id="v">
                    <img src="images/w.png" class="image is-64x64   " id="w">
                    <img src="images/x.png" class="image is-64x64 " id="x">
                    <img src="images/y.png" class="image is-64x64 " id="y">
                    <img src="images/z.png" class="image is-64x64 " id="z">
                </div>
          
          
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>