<%- include ("partials/header") -%>


    
      <div class="notification mx-5 mt-4 has-background-success has-text-centered">
      
          <div class="box has-background-pale-blue pt-0 mb-1">
            <div class="is-size-2 has-text-danger has-text-weight-bold">Hello!</div>
            <div class=" is-size-6 has-text-danger">Welcome to The Colour Game.</div>
            
          
            <!-- Creating the dropdown choose animal -->
          
            
            <section id="dropdown" class="block">
              <label for="list" class="has-text-dark-blue">Choose an animal: </label>
              <select id="chooseAnimal" class="block has-text-centered">
                <option value="bear">Bear</option>
                <option value="giraffe">Giraffe</option>
                <option value="narwhal">Narwhal</option>
                <option value="mouse">Mouse</option>
              </select>
            </section>
          </div>

          <!-- instructions to play -->
          <h2 id="instruction" class="block has-text-white mb-1 is-size-4">
            Click the
            <span id="colour" class="is-uppercase is-size-3">?</span> Button!
          </h2>

        
          

          <!-- correct/wrong images -->
          <figure id="correct" class="block has-text-centered">
            <img id="animalImage" src="images/bear.png" width="20%" />
            <img src="images/thumbsup.png" width="20%" />
          </figure>

          <div id="wrong" class="block has-text-centered">
            <img
              src="https://media.istockphoto.com/vectors/try-again-vector-hand-drawn-illustration-with-cartoon-lettering-good-vector-id1182313635?k=20&m=1182313635&s=612x612&w=0&h=toLZUQHqj58aetcXbUGqgbY9Eu6dJ63kUwNiFym03dQ="
              width="20%"
            /><img src="images/thumbsdown.png" width="20%" />
          </div>
<!-- buttons end -->
<p class="block">
  <button id="reset" class="button is-size-7">PLAY AGAIN! (PLEASE)</button>
</p>
</div>

<div class="box mx-5 " id="colourButtons">
  
              <div class="notification has-background-white is-flex is-justify-content-space-evenly">
  
                  <img src="images/yellow.png" class="image is-64x64 " id="Yellow">
                  <img src="images/green.png" class="image is-64x64  " id="Green">
                  <img src="images/red.png" class="image is-64x64   " id="Red">
  
              </div>
  
              <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                  <img src="images/black.png"class="image is-64x64  "  id="Black">
                  <img src="images/pink.png" class="image is-64x64 " id="Pink">
                  <img src="images/blue.png" class="image is-64x64 " id="Blue">
  
              </div>
  
              <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                  <img src="images/orange.png" class="image is-64x64   " id="Orange">
                  <img src="images/white.png" class="image is-64x64   " id="White">
                  <img src="images/purple.png" class="image is-64x64   " id="Purple">
  
              </div>
  
  
</div>
          </div>
            
          
        
      </div>
        </div>

<!-- buttons start here -->
          
           
    
    <script src="app.js"></script>
  </body>
  </html>
