
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->


        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="colourButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/yellow.png" class="image is-64x64 " id="Yellow">
                    <img src="images/green.png" class="image is-64x64  " id="Green">
                    <img src="images/red.png" class="image is-64x64   " id="Red">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/black.png"class="image is-64x64  "  id="Black">
                    <img src="images/pink.png" class="image is-64x64 " id="Pink">
                    <img src="images/blue.png" class="image is-64x64 " id="Blue">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/orange.png" class="image is-64x64   " id="Orange">
                    <img src="images/white.png" class="image is-64x64   " id="White">
                    <img src="images/purple.png" class="image is-64x64   " id="Purple">
                </div>
          
          
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>