
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->

        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="feelingButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/ouchie.png" class="image is-64x64 " id="Ouchie">
                    <img src="images/angry.png" class="image is-64x64  " id="Angry">
                    <img src="images/happy.png" class="image is-64x64   " id="Happy">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/sad.png"class="image is-64x64  "  id="Sad">
                    <img src="images/scared.png" class="image is-64x64 " id="Scared">
                    <img src="images/surprised.png" class="image is-64x64 " id="Surprised">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/tired.png" class="image is-64x64   " id="Tired">
                    <img src="images/confused.png" class="image is-64x64   " id="Confused">
                    <img src="images/cold.png" class="image is-64x64   " id="Cold">

                </div>
          
          
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>