
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->

        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="flowerButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    
                    <img src="images/rose.png" class="image is-64x64  " id="rose">
                    <img src="images/daffodil.png" class="image is-64x64   " id="carrots">
                    <img src="images/sakura.png" class="image is-64x64   " id="sakura">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/daisy.png"class="image is-64x64  "  id="daisy">
                    <img src="images/orchid.png" class="image is-64x64 " id="orchid">
                    <img src="images/sunflower.png" class="image is-64x64 " id="sunflower">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/poppy.png" class="image is-64x64   " id="poppy">
                    <img src="images/tulips.png" class="image is-64x64 " id="tulips">
                    <img src="images/lavender.png" class="image is-64x64   " id="lavender"> 
                </div>
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>