
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->

        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="fruitButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/apple.png" class="image is-64x64 " id="apple">
                    <img src="images/banana.png" class="image is-64x64  " id="banana">
                    <img src="images/blueberries.png" class="image is-64x64   " id="blueberries">
                    <img src="images/watermelon.png" class="image is-64x64   " id="watermelon">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/mango.png"class="image is-64x64  "  id="mango">
                    <img src="images/durian.png" class="image is-64x64 " id="durian">
                    <img src="images/lemon.png" class="image is-64x64 " id="lemon">
                    <img src="images/strawberry.png" class="image is-64x64   " id="strawberry">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/mangosteen.png" class="image is-64x64   " id="mangosteen">
                    <img src="images/grapes.png" class="image is-64x64   " id="grapes">
                    <img src="images/pear.png" class="image is-64x64   " id="pear">
                    <img src="images/pineapple.png" class="image is-64x64   " id="pineapple">
                
                   
                    
                  


                </div>
          
          
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>