<%- include ("partials/header") -%>
<div class="is-size-2 has-text-centered has-text-white has-background-white">



    <div class="py-6 is-size-1 has-background-grey-lighter">choose a game:</div> 
    
  
  

  <a href="/colours">
  <div class=" has-background-danger py-6" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)">colours</div></a>
  <a href="/feelings">
    <div class="has-background-success py-6" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)">feelings
    </div></a>

    
  <a href="/numbers">
    <div class=" has-background-info py-6" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)">numbers</div><p></p>
  </a>
  <a href="/alphabet">
    <div class=" has-background-light py-6" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)">alphabet</div>
  </a>
  <a href="/fruits">
    <div class=" has-background-danger py-6" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)">fruits</div>
  </a>
  <a href="/vegetables">
    <div class=" has-background-success py-6" onmouseover="reduceOpacity(this)" onmouseout="normalOpacity(this)">vegetables</div>
  </a>
</div>
 

<footer id="footer" class="notification py-1 is-size-7 has-background-success">
  copyright 2022 
</footer><script src="app.js"></script>
</body>
</html>
