
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->

        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="numberButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    <img src="images/1.png" class="image is-64x64 " id="one">
                    <img src="images/2.png" class="image is-64x64  " id="two">
                    <img src="images/3.png" class="image is-64x64   " id="three">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/4.png"class="image is-64x64  "  id="four">
                    <img src="images/5.png" class="image is-64x64 " id="five">
                    <img src="images/6.png" class="image is-64x64 " id="six">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/7.png" class="image is-64x64   " id="seven">
                    <img src="images/8.png" class="image is-64x64   " id="eight">
                    <img src="images/9.png" class="image is-64x64   " id="nine">

                </div>
          
          
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>