
<%- include ("partials/header") -%>
<%- include ("partials/themes") -%>
<%- include ("partials/stickers") -%>

<!-- instructions to play -->

        
        <!-- buttons start here -->
        <div class="box mx-5 mb-4" id="vegButtons">
                <div class="notification has-background-white is-flex is-justify-content-space-evenly">
                    
                    <img src="images/broccoli.png" class="image is-64x64  " id="broccoli">
                    <img src="images/carrots.png" class="image is-64x64   " id="carrots">
                    <img src="images/cucumber.png" class="image is-64x64   " id="cucumber">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/lettuce.png"class="image is-64x64  "  id="lettuce">
                    <img src="images/onion.png" class="image is-64x64 " id="onion">
                    <img src="images/peas.png" class="image is-64x64 " id="peas">
                </div>
                <div class="notification has-background-white is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
                    <img src="images/radish.png" class="image is-64x64   " id="radish">
                    <img src="images/aubergine.png" class="image is-64x64 " id="aubergine">
                    <img src="images/potato.png" class="image is-64x64   " id="potato"> 
                </div>
        </div>
      </div>
         


           
<%- include ("partials/footer") -%>